div#container {
  width: 456px;
  height: 456px;
  border: 2px inset #000;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 150px;
  height: 150px;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  text-align: center;
  line-height: 48px;
  font-size: 25px;
  font-weight: 600;
}
