div#container {
  width: 456px;
  height: 456px;
  padding: 5px;
  border: 3px groove #777;
  border-radius: 1%;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
}

.box {
  width: 148px;
  height: 148px;
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cell {
  width: 47px;
  height: 47px;
  border: 1px solid #000;
  text-align: center;
  line-height: 47px;
  font-size: 25px;
  font-weight: 600;
  background-color: #eee;
}

div.btn {
  width: 98px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #000;
  margin: 20px 170px;
  padding: 0 10px;
  border-radius: 2px;
  text-align: center;
}
div.btn:hover { background-color: #ccc; cursor: pointer; }

.info {
  width: 350px;
  height: 30px;
  margin: 20px 50px;
  line-height: 30px;
  text-align: center;
  background-color: #ddd;
  border: 2px inset #aaa;
  border-radius: 5px;
}
